main{
    background-color: rgb(135, 117, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: cursive, monospace;
    color: white;
    
    
}
h1{
    letter-spacing: 10px;
    font-size: 5em;
    text-align: center;
}
p{
    letter-spacing: 3px;
    font-size: 1em;
}

#counter-container{
    background-color: rgba(0, 0, 0, .10);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin: 30px;
}
#counter-container div{
    margin: 0 50px;
    margin-top: -25px;
    font-weight: 500;
    font-size: 2.5em;
}
#counter-container div::before{
    content: "";
    font-size: .55em;
    position: absolute;
    bottom: 140px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
#counter-container #days::before{
    content: "days";
}
#counter-container #hours::before{
    content: "hours";
}
#counter-container #minutes::before{
    content: "minutes";
}
#counter-container #seconds::before{
    content: "seconds";
}
footer{
    position: absolute;
    top: 80%;
    color: aliceblue;
    margin-top: 30px;
}